/* Layout.module.css */
:global(*) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }

  .header {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 10px;
    position: relative;
    width: 100%;
  }
  
  .header:not(.sobreHeader) {
    min-height: 100vh;
  }

 /* Layout.module.css */
.headerBackground {
  position: absolute;
  inset: 0;            /* top:0; right:0; bottom:0; left:0 */
  z-index: -2;         /* fica atrás de todo o conteúdo */
  

}

.header::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom,
               rgba(95,43,15,.5) 0%,
               rgba(44, 20, 6, 0.973) 100%);
  z-index: -1;   /* entre a foto (-2) e o conteúdo (0) */
}

  
  /* navbar container */
  .navbar {
    position: relative;
  z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
  }
  
  /* logo */
  .logo {
    height: 91px;
    padding: 0px 25px;
   
  }
  
  /* menu */
  .menu {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0px 25px;
    font-family: 'Fraunces', serif;
    font-weight: 90;
    
  }
  
  .menu li a {
    padding: 20px;
    color: #f9e8d9;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.2s ease;
  }
  
  .menu li a:hover {
    color: #ffcc7a;
  }

  .menu #wpp{
    background-color: #a67449;
    padding: 5px;
 

  }
  .menu #wpp a:hover {
    color: #1a0e06;
  }
  /* Esconder o menu por padrão no mobile */


.menu ul {
  display: flex;
  align-items: center;
  list-style: none;
}




  .heroContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    text-align: center;
    justify-content: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    color:#FFEED6;
  }
  
  .heroContent h1 {
    font-size: 5rem;
    max-width: 700px;
    line-height: 1.2;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    text-decoration: none; 

  }
  
  .ctaButton {
    margin-top: 1.5rem;
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    background-color: rgba(231, 160, 113, 0.8);
    color: #FFF7E7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    font-family:'inter';
    transition: background 0.3s;
    text-decoration: none; 
    display: inline-block;
   
  }
  
  .ctaButton:hover {
    background-color: #462c17;
  }
  .footer {
    background: linear-gradient(to bottom, #3c1c0d, #1a0e06);
    color: #CE965B;
    padding: 3rem 2rem;
    max-height: 20%;
   
    font-family: 'Inter', sans-serif;
  }
  
  .footerContent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 100px 0 100px;
    gap: 25%;
    margin-bottom: 2rem;
  }
  
  .footerSection h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #CE965B;
  }
  .footerSection p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: #CE965B;
  }
  
  .footerSection a {
    color: #CE965B;
    text-decoration: underline;
  }
  
  .footerBottom {
    border-top: 1px solid #ffffff33;
    padding-top: 1rem;
    text-align: center;
  }
  
  .socialSection {
    text-align: center;
  }
  
  .socialIcons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 0.9rem;
  }
  
  .socialIcons img {
    width: 24px;
    height: 24px;
  }
  
  .copy {
    font-size: 0.9rem;
    font-weight: bold;
  }
  .whatsappLink {
    display: inline-flex;
    align-items: center;
    text-decoration: underline;
    color: #d9a86c;
    font-weight: bold;
  }
  .addressLink p{
    display:block;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
  }
  
  .icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
  .sobreHeader {
    height: 400px;
    background-position: center;
   
    position: relative;
  }
  
  .sobreHeader .heroContent {
    top: 50%;
    transform: translateY(-50%);
  }
  
/*menu hamburguer*/
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px; 
  background: transparent;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  z-index: 20;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.hamburger span {
  position: absolute;
  height: 4px;
  width: 20px;
  background: #FFEED6;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

/* Antes de clicar */
.hamburger span:nth-child(1) {
  top: 8px;
}

.hamburger span:nth-child(2) {
  top: 14px;
}

.hamburger span:nth-child(3) {
  top: 20px;
}

/* Quando o menu está aberto */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 14px;
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg);
  top: 14px;
}

.header,
.h1,
.hamburger,
.button,
#wpp {
  transition: all 0.5s ease;
}

.menu {
  transition: gap 0.5s ease;
}


@media (max-width: 1024px) {
  .heroContent h1 {
    font-size: 5rem;
    width: 90%;
  }

  .footerContent {
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem;
    align-items: center;
    text-align: center;
  }

  .footerSection {
    max-width: 400px;
  }
  .heroWrapper {
    flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem; /* espaço abaixo do menu fixo */
  padding-bottom: 2rem;
  width: 100%;
  }

}

@media (max-width: 768px) {
 
  .header h1{
    font-size: 5rem;
    width: 80%;
    height: auto;
    line-height: 5rem;
  }
  .hamburger {
    display: flex;
  }

  .menu {
    display: flex; /* ← essencial para o alinhamento funcionar */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    position: fixed; /* evita scroll do body */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
    width: 100%;
    height: 100vh;
  
    background: #2c1406;
    padding: 2rem;
    transform: translateY(-150%);
    transition: transform 0.3s ease-in-out;
    z-index: 15;
  
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .logo {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
  }

  .menu.open {
    transform: translateY(0);
  }

  .menu ul {
    display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1rem;
  }
.menu li {
    margin: 0.5rem 0;
    padding: auto;
  }
  .menu li a {
    font-size: 1.5rem;
    
  }

  #wpp {
    margin-top: 1rem;
    background-color: #E7A071;
    border-radius: 5px;
  }



  #wpp:hover {
    background-color: #ffcc7a;
  }
  .heroContent {
    padding: 0 2rem;
  }
  .ctaButton {
    font-size: 1rem;
    padding: 0.6rem 1.5rem;
  }

  
}

@media (max-width: 480px) {
  .heroContent h1 {
    font-size: 0.2rem;
    line-height: 1.3;
  }
  .menu {
    padding: 1rem;
  }
  .menu li a {
    font-size: 1.2rem;
  }
}